 //Helvetica

@font-face{
    font-family:"HelveticaNeueW01-ThinCn 673383";
    src:url("../fonts/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix");
    src:url("../fonts/08e2b89e-9853-40e2-b409-05538c48390b.eot?#iefix") format("eot"),url("../fonts/3d0bfb88-4887-4fd3-a16f-34ae15cbfe25.woff") format("woff"),url("../fonts/007ff3cd-c6c5-4d33-8458-99c3d6fc8598.ttf") format("truetype"),url("../fonts/67ccdd14-5fcd-479c-9829-ec39a60795fa.svg#67ccdd14-5fcd-479c-9829-ec39a60795fa") format("svg");
}

@font-face{
    font-family:"HelveticaNeueW01-47LtCn 692686";
    src:url("../fonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix");
    src:url("../fonts/7de6b03f-1298-4bc2-89af-9d9da594008d.eot?#iefix") format("eot"),url("../fonts/42aacb2f-222e-46f5-a95a-1c22948ee0d1.woff") format("woff"),url("../fonts/217a2f81-1e65-4924-a0d4-05ac8576f883.ttf") format("truetype"),url("../fonts/5405647d-099e-47f7-9d4a-f8692e57a206.svg#5405647d-099e-47f7-9d4a-f8692e57a206") format("svg");
}

@font-face{
    font-family:"HelveticaNeueW01-57Cn";
    src:url("../fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix");
    src:url("../fonts/ecaa98fe-425a-42de-846b-c235f0dbc449.eot?#iefix") format("eot"),url("../fonts/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff"),url("../fonts/c74505d5-13e8-47ed-94a8-630aab4da3e6.ttf") format("truetype"),url("../fonts/6cd480d1-47d0-48b4-86bd-283db2cb9235.svg#6cd480d1-47d0-48b4-86bd-283db2cb9235") format("svg");
}

@font-face{
    font-family:"HelveticaNeueW01-77BdCn 692722";
    src:url("../fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
    src:url("../fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("../fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("../fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("../fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

@font-face{
    font-family:"HelveticaNeueW01-87HvCn 692734";
    src:url("../fonts/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix");
    src:url("../fonts/3d1a3114-ffd3-4f16-99c5-0e0441676d88.eot?#iefix") format("eot"),url("../fonts/33bb86d1-8adf-454e-aee3-ca1c89445476.woff") format("woff"),url("../fonts/921ef834-872c-4460-ac11-f5fbcac9fa2d.ttf") format("truetype"),url("../fonts/9d3bb5f2-6932-419e-a56f-382131ffd4b8.svg#9d3bb5f2-6932-419e-a56f-382131ffd4b8") format("svg");
}